<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Employee List</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>firstName</th>
                    <th>lastName</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tr *ngFor="let employe of employees | async">
                <td>{{employe.firstName}}</td>
                <td>{{employe.lastName}}</td>
                <td>{{employe.emailId}}</td>
                <td>
                    <button (click)="deleteEmployeeById(employe.id)" class="btn btn-danger">Delete</button>
                    <button (click)="showEmployeeDetails(employe.id)" class="btn btn-warning">Details</button>
                    <button (click)="updateEmployeeDetails(employe.id)" class="btn btn-primary">Delete</button>
                </td>
            </tr>
        </table>
    </div>
</div>